{% extends 'base.html' %}
{% block title %}
<title>Edit Post</title>
{% endblock %}
{% block content %}
<div class="edit">
    <div class="container">
        <h1 class='edit_title'>Edit your blog post</h1>
        <form method="POST" class='edit_form'>
            <div class="edit_item">
                <label for="title"></label>
                <input type="text" class="edit_item-input" id="title" name='title' value='{{post.title}}' required>
            </div>
            <div class="edit_body">
                <label for="body_post"></label>
                <textarea type="text" class="ckeditor" id="body_post" name='body_post' required>{{post.body|safe}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}