{% extends "base.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
{% if posts.items %}
	{% for post in posts.items %}
<div class="home">
	<div class="container">
		<div class="home_item">
			<div class="home_body">
			<img class="home_img" src="{{ url_for('static', filename='picture_img/' + post.author.image_file) }}">
				<div class="home_subheader">
					<a class="home_username" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
					<div class="home_date">{{ post.date_posted.strftime('%Y-%m-%d') }}</div>
				</div>
				<h2><a class="home_title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
				<p class="home_contant">{{ post.content }}</p>
			</div>
		</div>
	</div>
	{% endfor %}
{% else %}
	<div class="any_post">
		<p class="p-text">BLOG HAS NOT BEEN POSTS YET</p>
		<a href="{{ url_for('new_post') }}" class='btn btn-warning any_post-btn'>Create!</a>
	</div>
	<script type="module" src='/static/js/style.js'></script>

{% endif %}
		{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
			{% if page_num %}
				{% if posts.page == page_num %}
					<a class="btn btn-info mb-4 home_btns" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
				{% else %}
					<a class="btn btn-outline-info mb-4 home_btns" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
			{% else %}
				...
			{% endif %}
		{% endfor %}
</div>
{% endblock content %}