{% extends 'base.html'%}

{% block title %}
<title>My Posts</title>
{% endblock %}

{% block content %}

{% if posts %}
<div class="my_post">
    <div class="container">
        <div class='my_post-list'>
        {% for post in posts %}
            <div class="my_post-item">
                <div class='my_post-link'>
                    <a href="post-id/{{post.blog_id}}">{{post.title}}</a>
                </div>
                <div class='my_post-body'>{{post.body | safe }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% else %}

        <!-- <h1 class='my_post-title'>YOU HAVE NOT BEEN POSTS YET</h1> -->
        <div class="any_post">
            <p class="p-text">YOU HAVE NOT BEEN POSTS YET</p>
            <a href="/new-post" class='btn btn-warning any_post-btn'>Create!</a>
        </div>
        <script type="module" src='/static/js/style.js'></script>

{% endif %}
{% endblock %}
