.form
    background-color: $color-login
    min-height: 100vh
    position: relative
    &_items
        background-color: $color-login2
        position: absolute
        display: grid
        grid-template-columns: (1, 400px)
        grid-template-rows: repeat(2, 50px)
        grid-gap: 30px
        padding: 60px
        border: 2px solid #fff
        border-radius: 10px
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
    div
        display: flex
        justify-content: space-between
    .btn
        margin-left: 15px
    input
        height: 50px
        background-color: #ffffff
        border-radius: 5px
        margin-bottom: 15px
        border: none
        font-size: 14px
        padding: 0 20px
        font-weight: 300
        color: #4b4b4b
        width: 300px
        font-style: italic
    label
        margin-top: -26px
        margin-right: -60px
        color: #fff
        font-weight: bold

